<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示图片</title>
</head>
<body>
<h1>输入9个参数并显示图片</h1>

<form id="imageForm">
    <label for="param1">param1:</label>
    <input type="text" id="param1" name="param1"><br>

    <label for="param2">param2:</label>
    <input type="text" id="param2" name="param2"><br>

    <label for="param3">param3:</label>
    <input type="text" id="param3" name="param3"><br>

    <label for="param4">param4:</label>
    <input type="text" id="param4" name="param4"><br>

    <label for="param5">param5:</label>
    <input type="text" id="param5" name="param5"><br>

    <label for="param6">param6:</label>
    <input type="text" id="param6" name="param6"><br>

    <label for="param7">param7:</label>
    <input type="text" id="param7" name="param7"><br>

    <label for="param8">param8:</label>
    <input type="text" id="param8" name="param8"><br>

    <label for="param9">param9:</label>
    <input type="text" id="param9" name="param9"><br>

    <input type="button" value="显示图片">
</form>
    <p><img src="/static/line_plot.png"></p>
</body>
</html>
